/* * {
  border: 1px solid red;
} */
/*--------------------------BODY---------------------*/
body {
  margin: 0;
}

/*--------------------------MAIN---------------------*/
main {
  display: flex;
}

/*--------------------------LEFT/RIGHT ASIDE---------------------*/
.left-aside,
.right-aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 25vw;
  background-color: black;
}

.mini-game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 14vh;
  width: 10vw;
  margin-left: 1.5vw;
  margin-bottom: 2vw;
  color: none;
  background-color: white;
}

.mini-boards-player1,
.mini-boards-player2 {
  display: flex;
  flex-wrap: wrap;
  height: 65vh;
  width: 25vw;
  overflow: scroll;
}

.mini-game-tile {
  height: 4vh;
  width: 3vw;
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-align: center;
  background: none;
  outline: none;
  /* overflow: scroll; */
}
/*--------------------------TEXT FORMATING---------------------*/

.player-emoji {
  margin: 0;
  margin-bottom: 0;
  margin-top: 8vh;
  font-size: 70px;
  color: #6B88F9;
  text-align: center;
}

.wins-text,
.grid-text {
  margin: 0;
  margin-bottom: 2vh;
  font-size: 70px;
  font-weight: lighter;
  color: black;
  text-align: center;
}

.wins-text {
  margin-bottom: 0;
  color: white;
}

/*--------------------------GAME BOARD SECTION---------------------*/
.middle-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 75vh;
  width: 45vw;
  margin: 0;
  color: none;
  background-color: white;
}

.game-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24vh;
  width: 12vw;
  margin: 0;
  padding: 0;
  font-size: 100px;
  text-align: center;
  background: none;
  outline: none;
}

.top-border {
  border-bottom: .75rem solid black;
  /* border-radius: .25rem; */
}

.middle-border {
  border-left: .75rem solid black;
  border-right: .75rem solid black;
  /* border-radius: .25rem; */
}

.bottom-border {
  border-top: .75rem solid black;
  /* border-radius: .25rem; */
}

.disable {
  pointer-events: none;
  cursor: none;
}

/* ------------------MEDIA QUERIES MIN WIDTH 900px LARGE SCREEN-------------------- */
@media screen and (min-width: 900px) {
}

/* ------------------MEDIA QUERIES MAX WIDTH 1400px LARGE SCREENS-------------------- */
@media only screen and (max-width: 1400px) {
}

/* ------------------MEDIA QUERIES MAX WIDTH 700px SMALL SCREENS-------------------- */
@media only screen and (max-width: 900px) {

  main {
    display: flex;
    flex-direction: column;
  }

  .left-aside, 
  .right-aside {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 25vh;
    width: 100vw;
  }

  .mini-boards {
    border: 0.1rem solid white;
    height: 20vh;
    width: 62vw;
    overflow: scroll;
  }

  .mini-game-board {
    height: 11vh;
    width: 19vw;
  }

  .mini-game-tile {
    height: 3vh;
    /* width: 2vw; */
    /* margin: 0; */
    margin-right: 3px;
    padding: 0;
    font-size: 20px;
  }

  .middle-area {
    height: 50vh;
    width: 100vw;
  }

  .game-board {
    height: 15rem;
    width: 21rem;
  }
  
  .game-tile {
    height: 5rem;
    width: 6rem;
    margin: 0;
    font-size: 50px;
    text-align: center;
  }

  .player-emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* margin-top: 0vh; */
    /* margin-right: 2vh; */
    font-size: 40px;
  }
  
  .wins-text,
  .grid-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 40px;
  }

  .top-border {
    border-bottom: .25rem solid black;
  }
  
  .middle-border {
    border-left: .25rem solid black;
    border-right: .25rem solid black;
  }
  
  .bottom-border {
    border-top: .25rem solid black;
  }

}