/*--------------------------BODY---------------------*/
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

/*--------------------------MAIN---------------------*/
main {
  display: flex;
}

/*--------------------------LEFT/RIGHT ASIDE---------------------*/
.left-aside,
.right-aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 25vw;
  background-color: black;
}

.mini-game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 14vh;
  width: 10vw;
  margin-left: 1.5vw;
  margin-bottom: 2vw;
  color: none;
  background-color: white;
}

.mini-boards-player1,
.mini-boards-player2 {
  display: flex;
  flex-wrap: wrap;
  width: 25vw;
  overflow: auto;
}

.mini-game-tile {
  height: 4vh;
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-align: center;
  background: none;
  outline: none;
}
/*--------------------------TEXT FORMATING---------------------*/

.player-emoji {
  margin: 0;
  margin-bottom: 0;
  margin-top: 8vh;
  font-size: 70px;
  color: #6B88F9;
  text-align: center;
}

.wins-text,
.grid-text {
  margin: 0;
  margin-bottom: 2vh;
  font-size: 70px;
  font-weight: lighter;
  color: black;
  text-align: center;
}

.wins-text {
  margin-bottom: 0;
  color: white;
}

/*--------------------------GAME BOARD SECTION---------------------*/
.middle-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 60vh;
  width: 36vw;
  margin: 0;
  margin-top: 1vh;
  margin-bottom: 7vh;
  color: none;
  background-color: white;
}

.game-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 11vw;
  height: 20vh;
  width: 10vw;
  margin: 0;
  padding: 0;
  font-size: 100px;
  text-align: center;
  background: none;
  outline: none;
}

.top-border {
  border-bottom: .75rem solid black;
}

.middle-border {
  border-left: .75rem solid black;
  border-right: .75rem solid black;
}

.bottom-border {
  border-top: .75rem solid black;
}

.disable {
  pointer-events: none;
  cursor: none;
}

.restart-clear-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.restart-game-button,
.clear-wins-button {
  border: none;
  height: 8vh;
  width: 12vw;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: black;
  border-radius: 10px;
}

/* ------------------MEDIA QUERIES MAX WIDTH 700px SMALL SCREENS-------------------- */
@media only screen and (max-width: 900px) {

  body {
    margin: 0;
  }

  /*--------------------------MOBILE - MAIN---------------------*/
  main {
    display: flex;
    flex-direction: column;
  }

  /*--------------------------MOBILE - LEFT/RIGHT ASIDE---------------------*/

  .left-aside, 
  .right-aside {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 25vh;
    width: 100vw;
  }

  .mini-boards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 0.1rem solid white;
    height: 20vh;
    width: 50vw;
    margin: 2vw;
    overflow: auto;
  }

  .mini-game-board {
    display: flex;
    justify-content: unset;
    height: 11vh;
    width: 20vw;
    margin: 5px;
  }

  .mini-game-tile {
    height: 3vh;
    /* width: 0vw; */
    margin-right: 3px;
    font-size: 20px;
  }
  
  /*--------------------------MOBILE - TEXT FORMATING---------------------*/

  .player-emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 40px;
  }
  
  .wins-text,
  .grid-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 5vh;
    font-size: 35px;
  }

  /*--------------------------MOBILE - GAME BOARD SECTION---------------------*/

  .middle-area {
    height: 50vh;
    width: 100vw;
  }

  .game-board {
    height: 15rem;
    width: 21rem;
    margin-top: .0vh;
    margin-bottom: -4vh;
  }
  
  .game-tile {
    height: 5rem;
    width: 6rem;
    margin: 0;
    font-size: 50px;
    text-align: center;
  }

  .top-border {
    border-bottom: .25rem solid black;
  }
  
  .middle-border {
    border-left: .25rem solid black;
    border-right: .25rem solid black;
  }
  
  .bottom-border {
    border-top: .25rem solid black;
  }

  .restart-clear-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .restart-game-button,
  .clear-wins-button {
    height: 6vh;
    width: 20vw;
    margin: 1vh;
    margin-bottom: 3vh;
    font-size: .75rem;
  }

}